[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
autopep8 = "==1.5.2"
gunicorn = "==20.0.4"
psycopg2 = "==2.8.5"
pylint = "==2.5.2"
python-dateutil = "==2.6.0"
Babel = "==2.8.0"
Flask = "==1.1.2"
Flask-Migrate = "==2.5.3"
Flask-Moment = "==0.9.0"
Flask-SQLAlchemy = "==2.4.1"
Flask-WTF = "==0.14.3"
SQLAlchemy = "==1.3.16"
alembic = "==1.4.2"
astroid = "==2.4.1"
click = "==7.1.2"
colorama = "==0.4.3"
isort = "==4.3.21"
itsdangerous = "==1.1.0"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
pycodestyle = "==2.5.0"
python-editor = "==1.0.4"
pytz = "==2020.1"
six = "==1.14.0"
toml = "==0.10.0"
wrapt = "==1.12.1"
Jinja2 = "==2.11.2"
Mako = "==1.2.2"
MarkupSafe = "==1.1.1"
Werkzeug = "==1.0.1"
WTForms = "==2.3.1"

[requires]
python_version = "3.8"
